* {
    max-width: 700px;
    margin: auto;
  }
  
  
  /*body {
      min-width: 500px;
  }*/
  
  div {
    border-radius: 5px;
  }
  
  #header {
    height: 25px;
    width: 100%;
    background-color: lightgreen;
    position: fixed;
    z-index: 1;
  }
  
  #title {
    margin-left: 3%;
  }
  
  #Mark_image {
    float: right;
    margin-right: 10px;
    background-size: 100%;
  }